.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2fe55d;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(89, 240, 63, 0.2);
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .nav-controls {
    display: flex;
    align-items: center;
  }
  
  